---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import PostDate from "./PostDate.astro";
import PostTags from "./PostTags.astro";

interface Props {
	post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { title, date, tags, image } = post.data;

const imageWidth = 800;
const imageHeight = 400;
---

<article class="border-secondary-500 grid gap-6 rounded-md border p-6">
	{
		image && (
			<a href={`/blog/${post.id}`} class="mb-4 block">
				<Image
					src={image}
					alt={title}
					width={imageWidth}
					height={imageHeight}
					decoding="async"
					loading="eager"
					class="h-48 w-full rounded-lg object-cover"
				/>
			</a>
		)
	}
	<header class="flex flex-col gap-6">
		<PostDate date={date} />
		<h2 class="text-xl font-bold">
			<a
				href={`/blog/${post.id}`}
				class="text-secondary-200 hover:text-secondary-300 duration-300 ease-in-out"
			>
				{title}
			</a>
		</h2>
	</header>
	{tags && <PostTags tags={tags} />}
</article>
