---
import { Image } from "astro:assets";
import { SKILLS, formatSkillPath } from "@/utils";

const SIZE = 50;
---

<ul class="grid grid-cols-3 justify-items-center gap-8 sm:grid-cols-4 md:grid-cols-6">
	{
		SKILLS.map((skill) => (
			<li class="grid place-items-center gap-2">
				<Image
					width={SIZE}
					height={SIZE}
					class="bg-primary-200 p-1 rounded-md"
					src={`/skills/${formatSkillPath(skill)}.svg`}
					alt={skill}
				/>
				<p class="text-center text-xs md:text-sm text-primary-100">{skill}</p>
			</li>
		))
	}
</ul>
