---
import { Image } from "astro:assets";
import { SOCIALS, formatSocialName } from "@/utils";

const SIZE = 35;
---

<div class="flex flex-wrap gap-6">
	{
		SOCIALS.map(({ name, href }) => (
			<a
				href={href}
				aria-label={name}
				class="rounded-md bg-secondary-200 duration-300 ease-in-out hover:bg-secondary-400"
				target="_blank"
				rel="noopener noreferrer"
			>
				<Image
					width={SIZE}
					height={SIZE}
					src={`/socials/${formatSocialName(name)}.svg`}
					class="rounded-md p-1"
					alt={name}
				/>
			</a>
		))
	}
</div>
